html,
body {
  color: $base-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  height: 100%;
  line-height: $base-line-height;

  small {
    font-size: $small-font-size;
  }
}

/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: 56px;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  font-size: 26px;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  margin-right: 10px;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: 30px;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $grey-color-dark;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:       calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:       calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:       calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:       calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:       calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:       calc(100% - (#{$spacing-unit} / 2));
  }
}

.heading {
  a {
    color: $grey-color-dark;
    &:hover {
      text-decoration: none;
    }
  }
}


/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

.navbar {
  margin: 0px;
  padding: 0px;
}

.navbar-fixed {
  nav {
    color: $gray-darker;
  }
}

.navbar-fixed {
  background-image: $background-image;
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  text-align: center;
  width: $menu-width;

  .avatar {
    display: block;
    margin-top: 60%;

    img {
      border-radius: 50%;
      height: 80px;
      width: 80px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  @include media-query($on-palm) {
    padding-left: 5px;
    height: $palm-menu-height;
    left: 0px;
    position: fixed;
    text-align: left;
    top: 0px;
    width: 100%;

    .avatar {
      display: inline-block;
      margin-top: 10px;

      img {
        border-radius: 50%;
        height: 30px;
        width: 30px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    ul.menu-link-group {
      display: inline-block;
      padding: 0px;
      list-style: none;
      margin: 0px;

      li {
        display: inline-block;
        padding: 0px 5px;

        &:hover {
          a {
            color: $grey-color-dark;
            text-decoration: none;
          }
        }

        a {
          color: white;
        }
      }
    }

  }
}

ul.menu-link-group {
  padding: 0px;
  list-style: none;
  margin: 0px;

  li {
    display: inline-block;
    padding-right: 25px;
    font-size: 16px;
    text-transform: uppercase;

    &:hover {
      a {
        text-decoration: underline;
      }
    }

    a {
      color: $grey-color-dark;
    }
  }
}


body > .container {
  width: auto;
  max-width: 1024px;
  padding: 5px;
  margin: auto;
  text-align: justify;

  @include media-query($on-palm) {
    padding: 5px;
    margin: $palm-menu-height 0px;
    text-align: left;
  }

  .content {
    padding-top: 40px;
  }
}
