ul {
  &#book-list {
    list-style: none;
    padding: 0px;

    li {

      a {
        color: $gray-darker;
        width: 100%;

        &:hover {
          text-decoration: underline;
        }

        .book-title {
          font-size: 30px;
        }

        .book-info {
          color: $brand-danger;
          font-size: 12px;
        }
      }
    }
  }
  &#post-list {
    font-size: 14px;
    list-style: none;
    padding: 0px;

    li {

      h3 {
        margin: 0px;
      }

      a {

        &.post-link {
          color: $gray-darker;
          &:hover {
            text-decoration: underline;
          }
        }
      }

      .post-excerpt {

        h1, h2, h3, h4, h5 {
          font-size: 14px;
        }

        a {
          text-decoration: underline;
        }
      }
    }
  }
}

article {

  p {
    text-align: justify;
  }
}
