ul {
  &#book-list {

    li {

      a {
        width: 100%;

        &:hover {
          text-decoration: underline;
        }

        .book-title {
          font-size: 30px;
        }

        .book-info {
          @extend .red-text;
          font-size: 12px;
        }
      }
    }
  }
  &#post-list {
    font-size: 14px;

    li {

      h3 {
        margin: 0px;
      }

      a {

        &.post-link {

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .post-excerpt {

        h1, h2, h3, h4, h5 {
          font-size: 14px;
        }

        a {
          text-decoration: underline;
        }
      }
    }
  }
}

article {

  p {
    text-align: justify;
  }
}
