ul {
  &#book-list {
    list-style: none;
    padding: 0px;

    li {
      margin-bottom: 30px;

      a {
        color: $gray-darker;
        width: 100%;

        &:hover {
          text-decoration: underline;
        }

        .book-title {
          font-size: 24px;
        }

        .book-info {
          color: $brand-danger;
          font-size: 12px;
        }
      }
    }
  }
  &#post-list {
    font-size: 14px;
    list-style: none;
    padding: 0px;

    li {
      margin-bottom: 30px;

      h3 {
        margin: 0px;
      }

      img.content-type-slide {
        height: 22px;
        padding-bottom: 4px;
        display: inline-block;
      }

      a {

        &.post-link {
          display: inline-block;
          color: $gray-darker;
          &:hover {
            text-decoration: underline;
          }
        }

      }

      .post-excerpt {

        h1, h2, h3, h4, h5 {
          font-size: 14px;
        }

        a {
          text-decoration: underline;
        }
      }
    }
  }
}

article {

  p {
    text-align: justify;
  }
}
