$logo-size: 50px;

.top {
  //display: none!important;
  background-image: $background-image;
  display: block;
  height: 100%;
  text-align: center;

  .top-avatar {
    padding-top: 15%;
    margin-bottom: 20px;

    img {
      border-radius: 50%;
      height: 100px;
      width: 100px;
    }

  }

  h3 {
    color: #efe9e9;
  }

  .link-group {
    font-size: 18px;

    a {
      text-decoration: none;
      color: #262D42;
      display: inline-block;

      &:hover {
        padding-top: -10px;
      }
    }

    .blog-link {
      border: 1px solid black;
      border-radius: 2px;
      box-sizing: border-box;
      height: $logo-size;
      line-height: $logo-size;
      padding: 0px 20px;
      display: block;
    }

    ul.social-link {
      display: inline-block;
      list-style: none;

      li {
        display: inline-block;
        img {
          width: $logo-size;
          height: $logo-size;
        }
      }
    }
  }
}

