ul {

  &#top-menu {
    display: block;
    left: 5px;
    list-style: none;
    position: fixed;
    z-index: 1000;

    li {
      display: inline-block;
      margin: 5px;
      padding: 5px;
      border-radius: 5px;

      a {
        padding: 0 10px;
        color: #fff;

        &:hover {
          text-decoration: none;
        }

      }

      &.active {

        a {
          @extend .green, .darken-3;
        }
      }
    }
  }

  &#post-list {
    font-size: 14px;

    li {

      a {

        &.post-link {

          &:hover {
            @extend .red-text.text-darken-2;
            @extend .teal.lighten-3;
            text-decoration: none;
          }
        }
      }
    }
  }
}

#fullpage {

  .section {
    @extend .brown.darken-4, .white-text;

    &#sec-blog {

      a {

        &#btn-blog {

          span {
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 10px;
          }
        }
      }
    }

    &#sec-academic {

      ul {

        li {
          margin-bottom: 20px;

          img {
            width: 50px!important;
            max-height: 50px!important;
            margin-right: 10px;
          }

          span {
            line-height: 50px;
            font-size: 20px;
          }
        }
      }

    }
  }
}

