ul {

  &#top-menu {
    display: block;
    left: 5px;
    list-style: none;
    position: fixed;
    z-index: 1000;

    li {
      display: inline-block;
      margin: 5px;
      padding: 5px;
      border-radius: 5px;

      a {
        padding: 0 10px;
        color: #fff;

        &:hover {
          text-decoration: none;
        }

        &#btn-blog {

          span {
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 10px;
          }
        }
      }

      &.active {

        a {
          @extend .green, .darken-3;
        }
      }
    }
  }

  &#post-list {
    font-size: 14px; 

    li {

      a {

        &.post-link {

          &:hover {
            @extend .red-text.text-darken-2;
            @extend .teal.lighten-3;
            text-decoration: none;
          } 
        }
      }
    }
  }
}

#fullpage {

  .section {
    @extend .red.lighten-3;
  }
}

