---
layout: default
permantlink: /blog/
---
<div class="navbar-fixed">
  <nav class="teal lighten-2">
    <div class="nav-wrapper container">
      <a href="/blog/" class="brand-logo waves-effect waves-light">Blog</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/books" class="waves-effect waves-light">Books</a></li>
        <li><a href="/feed.xml" class="waves-effect waves-light">RSS</a></li>
        <li><a href="/" class="waves-effect waves-light">Home</a></li>
      </ul>
    </div>
  </nav>
</div>
<div class="container">
  {{ content }}
</div>
